<style>
.blog-feeds,.post-feeds,#backlinks-container,.status-msg-wrap,#blog-pager,.topads h2, .bottomads h2{display:none;}
.section,.widget,.widget ul,.widget li,.post-footer-line{margin:0;padding:0}
body {
color: #444;
font: bold 14px Georgia,Utopia,"Palatino Linotype",Palatino,serif;
margin: 0;
padding: 0;
}
a {text-decoration:none; color:#cc0000; transition: all 0.3s ease 0s;}
a:hover {text-decoration:underline;}
#header-wrapper {
background-color: #363636;
padding: 20px 0;
width: 100%;
}
.header {
margin: 0 auto;
max-width: 1300px;
text-align: center;
width: 99%;
}
.header,.header a {color:#fff;}
#main-wrapper {
border-left: 1px solid #eee;
border-right: 1px solid #eee;
box-sizing: border-box;
margin: 0 auto;
max-width: 1300px;
overflow: hidden;
padding: 0 5px;
width: 99%;
}
.post-title.entry-title {
display: block;
height: 0;
overflow: hidden;
visibility: hidden;
width: 0;
}
.topads #HTML1 .widget-content::after,.bottomads #HTML2 .widget-content::after {
color: #777;
content: "مساحة إعلانية";
display: block;
font-size: 24px;
line-height: 90px;
text-align: center;
box-shadow: 0 0 0 1px #eee inset;
height:90px;
}
.post-body img {
height: auto;
max-height: 900px;
max-width: 96%;
width: auto;
}
.topads #HTML1 .widget-content ,.bottomads #HTML2 .widget-content {
box-sizing: border-box;
height: 110px;
overflow: hidden;
padding: 10px 0;
overflow: hidden;
width:100%;
}
.credit {
border-top: 1px solid #eee;
height: 48px;
line-height: 48px;
overflow: hidden;
text-align: center;
}
.incredit {
box-sizing: border-box;
margin: 0 auto;
max-width: 1300px;
width: 99%;
}
.incredit a {
background-color: #eee;
color: #777;
display: inline-block;
font-size: 12px;
height: 24px;
line-height: 24px;
padding: 0 10px;
border:1px solid transparent;
}
.incredit a:hover {border-color:#cc0000; text-decoration:none;}
.mobariat {
color: #fff;
display: block;
font: bold 16px/60px Georgia,Utopia,"Palatino Linotype",Palatino,serif;
margin: 10px 0;
padding: 0;
text-align: center;
width: 100%;
}
.mobariat h6 {
background-color: #7e0404;
border-bottom: 4px solid #000;
display: block;
font-size: 18px;
height: 60px;
margin: 0;
padding: 0;
}
.mobariat a {display:block; color:#fff; text-decoration:none; transition: all 0.4s ease 0s;}
.mobariat div {
border-bottom: 4px solid #000;
height: 64px;
}
.mobariat div,.mobariat span {box-sizing: border-box;}
.yaomg span {
background-color: #7e0404;
float: right;
width: 50%;
}
.yaomg span:first-child {border-left: 4px solid #000;}
.tawqeet span {
background-color: #7e0404;
float: right;
width: 33.3%;
}
.mobariat a {
color: #fff;
display: block;
text-decoration: none;
transition: all 0.4s ease 0s;
}
.match {
background-color: #f2f3f4;
border-bottom: 4px solid #000;
box-sizing: border-box;
color: #000 !important;
height: 117px;
}
.match span {float: right; width: 33.3%;}
.match img {height: 55px; margin: 16px 0 0;  width: 55px;}
.tname {
display: block;
line-height: 20px;
margin: -18px 0 0;
padding: 0;
}
.match3 {
background: #7e0404 url("https://3.bp.blogspot.com/-NJdw8gbsODE/WeOgYp4FJ5I/AAAAAAAAGkE/-on7Wd_JiOobeVWbMpcIYByiEF7j9BxXQCLcBGAs/s1600/666.png") no-repeat scroll center center / 100% 100%;
border-bottom: 0px solid #000;
box-sizing: border-box;
color: #ffffff !important;
height: 125px;
}
.match3 span {float: center; width: 50%;}
.match3 img {height: 50px; margin: 18px 0 0;  width: 200px;}
.tname3 {
display: block;
line-height: 15px;
margin: -10px 0 0;
padding: 0;
}
.text33 {
display: block;
font: bold 25px/60px Georgia,Utopia,"Palatino Linotype",Palatino,serif;
line-height: 85px;
margin: -5px 0 0;
padding: 0;
}
.match4 {
background: #7e0404 url("https://3.bp.blogspot.com/-NJdw8gbsODE/WeOgYp4FJ5I/AAAAAAAAGkE/-on7Wd_JiOobeVWbMpcIYByiEF7j9BxXQCLcBGAs/s1600/666.png") no-repeat scroll center center / 100% 100%;
border-bottom: 0px solid #000;
box-sizing: border-box;
color: #ffffff !important;
height: 60px;
}
.match4 span {float: center; width: 50%;}
.match4 img {height: 50px; margin: 18px 0 0;  width: 200px;}
.tname4 {
display: block;
line-height: 60px;
margin: -5px 0 0;
padding: 0;
}
.match2N {
background-color: #f2f3f4;
border-bottom: 4px solid #000;
box-sizing: border-box;
color: #000 !important;
height: 115px;
}
.match2N span {float: center; width: 50%;}
.match2N img {height: 50px; margin: 18px 0 0;  width: 160px;}
.tname2N {
display: block;
line-height: 10px;
margin: -10px 0 0;
padding: 0;
}
.match8 {
background-color: #f2f3f4;
border-bottom: 4px solid #000;
box-sizing: border-box;
color: #000 !important;
height: 70px;
}
.match8 span {float: center; width: 50%;}
.match8 img {height: 50px; margin: 18px 0 0;  width: 200px;}
.text8 {
display: block;
font: bold 18px/60px Georgia,Utopia,"Palatino Linotype",Palatino,serif;
line-height: 65px;
margin: -0px 0 0;
padding: 0;
}
.match9 {
background-color: #f2f3f4;
border-bottom: 4px solid #000;
box-sizing: border-box;
color: #000 !important;
height: 150px;
}
.match9 span {float: center; width: 50%;}
.match9 img {height: 50px; margin: 18px 0 0;  width: 200px;}
.text9 {
display: block;
font: bold 18px/60px Georgia,Utopia,"Palatino Linotype",Palatino,serif;
line-height: 50px;
margin: -5px 0 0;
padding: 0;
}
.wasat {line-height: 17px;  margin: 0.5;  padding: 0;}
.rabet {
background-color: #7e0404;
border-bottom: 4px solid #000;
box-sizing: border-box;
}
.lstch {height:60px !important; border:none !important;}
.bluec {background-color: #3563c1 !important;}/*اللون الأزرق*/
.youmg {background-color: #f2f3f4 !important;}/*لون اليوم والغد*/
.youmg a{color:#000 !important;}/*لون النص في اليوم والغد*/
.gmobi {background-color: #3563c1; height: 50px !important;}/*لون الجوال و الحاسب*/
.gmobi span {float: right; line-height: 46px !important;  width: 100%;}
.gmobi a {color: #fff !important;}/*لون النص في الجوال والحاسب*/
.fjawal {border-left: 4px solid #000;}
.gmobi10 {background-color: #139bd0; height: 50px !important; border:none !important;}/*لون الجوال و الحاسب*/
.gmobi10 span {float: right; line-height: 50px !important;  width: 33.3%;}
.gmobi10 a {color: #fff !important;}/*لون النص في الجوال والحاسب*/
.fjawal {border-left: 4px solid #000;}
.fjawal10 {border-left: 4px solid #000; background-color: #3a589b}
@media screen and (max-width : 540px) {
.mobariat {font-size:15px; font-weight:bold;}
}
.mobariat2 {
color: #fff;
display: block;
font: bold 16px/60px Georgia,Utopia,"Palatino Linotype",Palatino,serif;
margin: 10px 0;
padding: 0;
text-align: center;
width: 100%;
}
.mobariat2 h6 {
background-color: #7e0404;
border-bottom: 4px solid #000;
display: block;
font-size: 18px;
height: 60px;
margin: 0;
padding: 0;
}
.mobariat2 a {display:block; color:#fff; text-decoration:none; transition: all 0.4s ease 0s;}
.mobariat2 div {
border-bottom: 4px solid #000;
height: 64px;
}
.mobariat2 div,.mobariat2 span {box-sizing: border-box;}
.yaomg2 span {
background-color: #7e0404;
float: right;
width: 50%;
}
.yaomg2 span:first-child {border-left: 4px solid #000;}
.tawqeet2 span {
background-color: #7e0404;
float: right;
width: 33.3%;
}
.mobariat2 a {
color: #fff;
display: block;
text-decoration: none;
transition: all 0.4s ease 0s;
}
.match2 {
background-color: #f2f3f4;
border-bottom: 4px solid #000;
box-sizing: border-box;
color: #000 !important;
height: 140px;
}
.match2 span {float: center; width: 50%;}
.match2 img {height: 65px; margin: 18px 0 0;  width: 190px;}
.tname2 {
display: block;
line-height: 20px;
margin: -10px 0 0;
padding: 0;
}
.wasat2 {line-height: 17px;  margin: 0.5;  padding: 0;}
.rabet2 {
background-color: #7e0404;
border-bottom: 4px solid #000;
box-sizing: border-box;
}
.lstch2 {height:60px !important; border:none !important;}
.bluec2 {background-color: #3563c1 !important;}/*اللون الأزرق*/
.youmg2 {background-color: #D4DAE4 !important;}/*لون اليوم والغد*/
.youmg2 a{color:#000 !important;}/*لون النص في اليوم والغد*/
.gmobi2 {background-color: #3563c1; height: 50px !important;}/*لون الجوال و الحاسب*/
.gmobi2 span {float: right; line-height: 46px !important;  width: 100%;}
.gmobi2 a {color: #fff !important;}/*لون النص في الجوال والحاسب*/
.fjawal2 {border-left: 4px solid #000;}
@media screen and (max-width : 540px) {
.mobariat2 {font-size:15px; font-weight:bold;}
}
.credit {display: none !important;}
#header-wrapper {display: none !important;}
#mmenu {display: none !important;}
.bottomads #HTML2 .widget-content {height: auto !important; overflow: visible !important;}
#tabs{border-bottom:1px solid RGB(238,238,242);position:relative;display:block;font-family:'Droid Arabic Kufi';float:right;width:100%;margin-bottom:13px}
#tabs li{display:block;margin:0;padding:0;width:33.33%;float:right;text-align:center}
.post .alba-vcover{display:none}
#tabs li a{padding:4px 15px;color:rgb(60,75,123);line-height:37px;position:relative;font-weight:700;font-size:14px}
#tabs #current a,#tabs li a:hover{border:none;border-bottom:4px solid RGB(254,91,0)}
#content .section{display:none}
#tabs #content #tab1{display:block}

</style>
<style id='template-skin-1' type='text/css'>
/*===============
Layout
===============*/
#layout .section h4 {display: none;}
#layout .editlink::before {
background-color: #fff;
border-radius: 2px;
bottom: 0;
color: #000;
content: "\270E";
display: block;
font-size: 20px;
height: 20px;
line-height: 20px;
padding: 2px;
position: absolute;
width: 20px;
}
#layout .editlink {display: block; font-size: 0; height: 0; width: 0;}
#layout #ContactForm1 .widget-content {background-color: #bbb;}
</style>
<script type='text/javascript'>
//<![CDATA[
$(document).ready(function(){$("#content").find("[id^='tab']").hide();$("#tabs li:first").attr("id","current");$("#content #tab1").fadeIn();$('#tabs a').click(function(e){e.preventDefault();if($(this).closest("li").attr("id")=="current"){return;}
else{$("#content").find("[id^='tab']").hide();$("#tabs li").attr("id","");$(this).parent().attr("id","current");$('#'+$(this).attr('name')).fadeIn();}});});
//]]>
</script>
<link href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'/>
<style type='text/css'>
.gadwal * {box-sizing: border-box;}
.yom,.ghms,.alfoter {height: 54px;line-height: 50px;}
.timeing {height: 45px;line-height: 41px;}
.gadwal {
  background-color: #f8f9f9;
  display: block;
  font: bold 16px georgia;
  margin: 10px auto;
  width: 99%;
}
.gadwal a {text-decoration: none; transition: all 0.3s ease 0s;}
.yom,.alfoter {
  background-color: #9b0a0a;
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2) inset;
  display: block;
  text-align: center;
  color:#fff;
}
.yom,.timeing,.ghms {border-bottom: 4px solid #000;}
.ghms a {
  background-color: #f1f2f2;
  color: #444;
  float: right;
  text-align: center;
  width: 50%;
}
.ghms a:first-child {border-left: 4px solid #000;}
.timeing span {
  background-color: #9b0a0a;
  border-left: 2px solid #000;
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2) inset;
  color: #fff;
  float: right;
  text-align: center;
  width: 33.333%;
}
.timeing span:last-child {border: 0 none;}
.mobara {
  border-bottom: 4px solid #000;
  display: block;
  height: 94px;
  margin: 8px auto;
  position: relative;
}
.fullink {
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 5;
}
.mobarain {margin:0 13px;}
.mobara img {
  background-color: #f1f2f2;
  border-bottom: 2px solid #ddd;
  height: 50px;
  padding: 4px;
  position: absolute;
  width: 50px;
}
.mpart1 strong {
  background-color: #9b0a0a;
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2) inset;
  color: #fff;
  height: 50px;
  margin-right: -50px;
  position: absolute;
  right: 50%;
  text-align: center;
  width: 100px;
  z-index: 1;
}


.mpart1 strong2 {
  background-color: #029c5d;
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2) inset;
  color: #fff;
  height: 50px;
  margin-right: -50px;
  position: absolute;
  right: 50%;
  text-align: center;
  width: 100px;
  z-index: 1;
}


.mpart1 {
  position: relative;
  height:48px;
  line-height:48px;
}
.mpart1 span {
  background-color: #f1f2f2;
  border-bottom: 2px solid #ddd;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05) inset;
  float: right;
  text-align: center;
  width: 100%;
  z-index: 2;
}
/*Yameen*/
.yamparent {float: right; padding-left: 30px; width: 50%;position: relative;z-index: 2;}
.yameen img {right: -13px;  transform: skewX(30deg);}
.yameen {border-radius: 8px 0 0; transform: skewX(-30deg);}
.yameen .fname {transform: skewX(30deg);}
/*Yasar*/
.yasparent {float: left; padding-right: 30px; width: 50%; position: relative;z-index: 2;}
.yasar img {left: -13px;  transform: skewX(-30deg);}
.yasar {border-radius: 0 8px 0; transform: skewX(30deg);}
.yasar .fname {transform: skewX(-30deg);}
/*Part2*/
.mpart2 {padding: 0 100px; font-size: 14px;}
.mpart2 i {margin-left: 5px;}
.mpart2 span {
  background-color: #9b0a0a;
  border-left: 1px solid #000;
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2) inset;
  color: #fff;
  float: right;
  height: 36px;
  line-height: 36px;
  position: relative;
  text-align: center;
  width: 33.3%;
}
.mpart2 .thales {border: 0 none;}
.awal::before,.thales::before  {
  background-color: #9b0a0a;
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2) inset;
  content: "";
  height: 36px;
  position: absolute;
  top: 0;
  width: 20px;
}
.awal::before {transform: skew(-20deg); right: -12px; border-radius: 0 0 8px;}
.thales::before {transform: skew(20deg); left: -12px; border-radius: 0 0 0 8px;}
@media screen and (max-width : 700px) {
.thales {display:none;}
.mpart2 {padding: 0 60px;}
.mpart2 span {width:50%;}
.thany::before  {
  background-color: #9b0a0a;
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2) inset;
  content: "";
  height: 36px;
  position: absolute;
  top: 0;
  width: 20px;
  transform: skew(20deg); 
  left: -12px;
  border-radius: 0 0 0 8px;
}
}
@media screen and (max-width : 500px) {
.gadwal {font-size:14px;}
.mpart2 {font-size:12px;}
.mpart1 {line-height: 30px;}
.mobarain {margin: 0 5px;}
.yamparent {padding-left:20px;}
.yasparent {padding-right:20px;}
.mobara {height: 157px;}
.mpart2 {padding: 0 25px;}
.yameen {transform: skewX(-5deg);}
.yasar {transform: skewX(5deg);}
.yameen .fname {transform: skewX(5deg);}
.yasar .fname {transform: skewX(-5deg);}
.mobara img {position:relative; display:block; margin:5px auto; background:transparent; border:0; padding:0;}
.yameen img {transform: skewX(5deg); right:0;}
.yasar img {transform: skewX(-5deg); left:0;}
.mpart1 strong {height: 36px; line-height: 36px; top: 30px; width:60px;margin-right: -30px;}
.mpart1 strong2 {height: 36px; line-height: 36px; top: 30px; width:60px;margin-right: -30px;}
}
</style>
