<Group description='Main Settings' selector='body'>
<Variable default='#1b9434' description='Primary Color' name='maincolor' type='color'/>
<Variable default='#24272c' description='Primary Text Color' name='darkcolor' type='color'/>
<Variable default='#373e59' description='Primary Dark Color' name='seconddarkcolor' type='color'/>
</Group>

/*------Layout (No Edit)----------*/
body#layout #body-wrapper {
padding: 0;
width: 800px
}
body#layout #loader {
display: none;
}
body#layout .ty-slide-show {
opacity:1;
}
body#layout .theme-opt {
display: block !important;
}
body#layout .section h4 {
color: #333!important;
text-align:center;
text-transform:uppercase;
letter-spacing:1.5px;
}
body#layout .top-bar-social, body#layout .top-bar-menu {
width: 47.3%;
}
body#layout .headerleft {
width: 250px;
}
body#layout .headerright {
width: 460px;
}
body#layout .post-author-widget, body#layout .post-author-social {
display: block;
visibility:visible;
height: auto;
width: 42.43%;
float:left;
}
body#layout .post-author-social {
float:right;
}
body#layout .tm-menu {
height: auto;
}
body#layout #menu {
display: block;
visibility:visible;
height: auto;
}
body#layout #menu .widget {
display: block;
visibility:visible;
}
body#layout .preload {
opacity:1;
}
body#layout #content-wrapper {
margin: 0 auto;
padding:0;
}
body#layout #adwidegt1 .widget, body#layout #adwidegt2 .widget, body#layout #adwidegt3 .widget {
display:block;
}
body#layout .tyright-wrapper {
width: 50%;
float: right;
}
body#layout .tyleft-wrapper {
width: 50%;
float: left;
}
body#layout #lowerbar-wrapper {
width: 33.33%;
float: left;
}
body#layout #main-wrapper {
float: left;
width: 70%;
margin: 0;
padding: 0
}
body#layout #sidebar-wrapper {
float: right;
width: 30%;
margin: 0;
padding: 0;
}
body#layout .sidebar.section {
background-color: #ff7f00!important;
border: 1px solid #ca7900;
}
body#layout .sidetabs .section {
background-color: #ffd400 !important;
border: 1px solid #dcbc20;
}
body#layout #sidebar-wrapper .section .widget-content {
border-color: #5a7ea2!important
}
body#layout .section .draggable-widget .widget-wrap2 {
background-color: #1b9434!important
}
body#layout #main-wrapper #main {
margin-right: 4px;
background-color: #5a7ea2;
border-color: #34495e
}
body#layout #main-wrapper #main h4 {
color: #fff!important
}
body#layout .layout-widget-description {
display: none!important
}
body#layout #Blog1 .widget-content {
border-color: #34495e
}
body#layout .add_widget {
background: #ebebeb;
border: 1px solid #dddddd;
}
body#layout .FollowByEmail .widget-content:before {
display: none;
}
body#layout .bottom-bar-social {
display: block;
float: none;
}
body#layout #lower, body#layout #lower-wrapper, body#layout #lowerbar-wrapper, body#layout #ty_footer, body#layout #header-wrappers {
padding: 0;
}
body#layout .editlink {
background: #1b9434;
color: #fff !important;
padding: 0 3px;
line-height: 18px;
border: 1px solid #e90639;
border-radius: 3px;
text-transform: uppercase;
letter-spacing: 1px;
text-decoration: none !important;
}
body#layout .menu-tab {
display: none;
}
/*------Layout (end)----------*/
		.event_title_wrapper {
  float: right;
  width: 20%;
}
.event_chanel,.event_time{

font-family: &#39;Nunito Sans&#39;, sans-serif;
}
.commenter {
  padding-left: 10px;
  display: inline-block;
}

.chanels-fix {
  text-align: right;
  padding-right: 10px;
  display: inline-block;
}

.chanels-commenter {
  padding-left: 15px;
  display: inline-block;
  text-align: right;
}

.chanels-commenter a {
  color: rgb(60,75,123);
}
/*-------------------------*/
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}


.elmal3b-live-table {
  width: 100%;
  position: relative;
  z-index: 1;
  border: 1px solid rgb(237,240,243);
  margin: 0 auto;
  overflow: hidden;
  background: #EEEEEE;
  padding: 10px;
  border-radius: 6px;
}

.box-title {
  z-index: 1;
  position: relative;
  display: block;
  padding: 0 10px;
  overflow: hidden;
  margin: -10px -10px 15px;
  background: linear-gradient(RGB(250, 250, 250),RGB(245, 245, 245)) repeat scroll 0% 0% transparent;
  border-bottom: 1px dotted RGB(196, 196, 196);
}

.box-title .title {
  font-size: 18px;
  text-transform: uppercase;
  height: 43px;
  z-index: 99999;
  margin: 0;
  font-weight: 800;
  float: right;
  line-height: 40px;
}

.box-title .title .fa {
  width: 1.3em;
  color: rgb(255,136,0);
  margin-left: .2em;
  font-size: 15px;
}

.new-league-head {
  float: right;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.new-league-head .title-aria {
  width: 400px;
  margin: 0 auto;
  display: block;
  text-align: center;
  border-radius: 10px 10px 0 0;
  z-index: 99;
  padding-top: 6px;
  background: rgb(248, 248, 248);
  border-left: 1px dotted RGB(196, 196, 196);
  border-right: 1px dotted RGB(196, 196, 196);
  border-top: 1px dotted RGB(196, 196, 196);
  position: relative;
  bottom: -1px;
  padding-bottom: 1px;
}

.new-league-head .title-imag {
  margin: 0 auto;
  display: table;
  text-align: center;
}

.league-title {
  display: table-cell;
  text-align: center;
  color: #555;
  padding: 0;
  vertical-align: middle;
  font-size: 15px;
}

.scores-parent {
  float: right;
  width: 100%;
  margin-bottom: 11px;
  padding: 0px 5px;
  border-radius: 7px;
  background: linear-gradient(RGB(250, 250, 250),RGB(245, 245, 245)) repeat scroll 0% 0% transparent;
  border: 1px dotted RGB(196, 196, 196);
}

.elmal3b_sports_events-event_item {
    text-align: center;
    width: 850px;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 9999;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.event_status_inner_live {
  display: block;
  width: 100%;
  position: relative;
  top: -2px;
}

.event_status_inner_live span {
  background: rgb(255,0,0);
  font-size: 13px;
  font-weight: 700;
  color: rgb(255,255,255);
  border-radius: 2px;
  font-family: &#39;Helvetica Neue&#39;,Helvetica,Arial,sans-serif;
  padding: 0px 13px;
  display: inline-block;
  position: relative;
  line-height: 19px;
}

.event_inner {
  margin: 0;
  width: 100%;
  float: right;
  padding: 0 20px;
  position: relative;
}

.team-aria {
  position: relative;
  float: right;
  width: calc(50% - 25px);
  display: block;
  text-align: center;
  height: 35px;
  z-index: 22;
  color: rgb(119, 119, 119);
  background: linear-gradient(to bottom,rgb(255, 255, 255) 0%,rgb(239, 239, 239) 100%);
  box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.05), inset 0 -1px 15px rgba(0, 0, 0, 0.19);
}

.team-first {
  transform: skew(-30deg);
  border-radius: 8px 0px;
}

.team-second {
  transform: skew(30deg);
  border-radius: 0px 8px;
}

.width {
  width: 50px;
  display: table;
  float: right;
  color: rgb(255, 255, 255);
  position: relative;
  font-weight: 700;
}

.width ,.width:after,.width:before {
 background: linear-gradient(to bottom,rgb(27, 148, 52) 0%,rgb(12, 130, 36) 100%);
  height: 35px;
}

.width:after {
  content: &quot;&quot;;
  width: 15px;
  position: absolute;
  right: -15px;
  z-index: -1;
  top: 0;
}

.width:before {
  content: &quot;&quot;;
  width: 15px;
  position: absolute;
  left: -15px;
  z-index: -1;
  top: 0;
}

.width span {
  display: table-cell;
  vertical-align: middle;
}

.elmal3b-team_logo {
  display: inline-block;
  width: 50px;
}

.team-first .elmal3b-team_logo {
  float: right;
  margin-right: -25px;
  transform: skew(30deg);
}

.team-second .elmal3b-team_logo {
  float: left;
  margin-left: -25px;
  transform: skew(-30deg);
}

.team-first .elmal3b_sports_events-team_title {
  transform: skew(30deg);
}

.team-second .elmal3b_sports_events-team_title {
  transform: skew(-30deg);
}

.elmal3b-team_logo img {
  display: block;
  margin: 0 auto 10px;
  max-height: 40px;
  width: auto;
}

.elmal3b_sports_events-team_title {
  font-size: 15px;
  color: rgb(60,75,123);
  font-weight: 700;
  margin-top: 8px;
  text-align: center;
  display: inline-block;
}

.events-info {
  width: 75%;
  margin: 0 auto;
  color: rgb(60,75,123);
  font-size: 12px;
  height: 30px;
  display: inline-flex;
  position: relative;
}

.events-info::before {
  content: &quot;&quot;;
  position: absolute;
  right: -24px;
  height: 30px;
  top: 0px;
  width: 35px;
  transform: skew(-20deg);
  border-radius: 0px 0px 8px;
}

.events-info:after {
  content: &quot;&quot;;
  position: absolute;
  left: -24px;
  height: 30px;
  top: 0px;
  width: 35px;
  transform: skew(20deg);
  border-radius: 0px 0px 0px 8px;
}

.events-info span {
    padding: 0 10px;
    float: right;
    width: 33.33333333%;
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 31px;
    border-right: solid 1px rgba(33, 214, 70, 0.24);
    font-size: 14px;
    font-family: flat-jooza !important;
}
.events-info .fa {
    font-size: 14px;
}

.events-info span p {
    display: inline-block;
    line-height: 30px;
    font-size: 14px;
}

.live,.live:before,.live:after {
  color: rgb(255, 255, 255);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, RGB(255, 36, 35) 0%, rgb(210, 12, 12) 100%);
  font-weight: 700;
}

.event_inner .finshed,.finshed,.event_status_inner .finshed,.event_inner .finshed:before,.event_inner .finshed:after {
  background-image: linear-gradient(to bottom,RGB(255, 200, 63) 0%,RGB(255, 156, 0) 100%);
}

.blu ,.events-info,.events-info:before,.events-info:after {
  background: linear-gradient(to bottom,rgb(27, 148, 52) 0%,rgb(12, 130, 36) 100%);
}

.elmal3b_sports_events-event_mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 9999;
}

.event_mask_inner {
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(13, 131, 37, 0.32);
  display: flex;
  width: calc(100% - 10px);
  margin: 0 auto;
  border-radius: 5px;
}

.elmal3b_sports_events-event_mask_inner_text {
    margin-top: 10px !important;
    background: linear-gradient(to bottom, RGB(18, 137, 42) 0%, rgb(12, 93, 28) 100%);
    color: rgb(255,255,255) !important;
    padding: 5px 30px;
    font-size: 14px !important;
    line-height: 22px;
    text-decoration: none;
    z-index: 555;
}

.elmal3b_sports_events-event_item:hover .elmal3b_sports_events-event_mask {
  display: block;
}


.nav-tabs {
    border: 0;
    padding: 0px 19px;
    margin: 0 auto;
    width: 850px;
}

.nav-tabs&gt;li.active&gt;a, .nav-tabs&gt;li.active&gt;a:focus, .nav-tabs&gt;li.active&gt;a:hover {
    color: #fff;
    cursor: default;
    background: linear-gradient(to bottom,rgb(27, 148, 52) 0%,rgb(12, 130, 36) 100%);
}
.nav-tabs&gt;li.active&gt;a::before {
    content: &quot;&quot;;
    position: absolute;
    right: -15px;
    height: 100%;
    top: 0px;
    width: 36px;
    border-radius: 0px 6px 0px 0px;
    transform: skew(-35deg);
    background: linear-gradient(to bottom,rgb(27, 148, 52) 0%,rgb(12, 130, 36) 100%);
}
.nav-tabs&gt;li.active&gt;a::after {
    content: &quot;&quot;;
    position: absolute;
    left: -19px;
    height: 100%;
    top: 0px;
    width: 36px;
    transform: skew(35deg);
    border-radius: 6px 0px 0px 0px;
    background: linear-gradient(to bottom,rgb(27, 148, 52) 0%,rgb(12, 130, 36) 100%);
      }
.nav-tabs&gt;li&gt;a:hover {
    border-color: transparent;
    color: #000;
}
.nav&gt;li&gt;a:focus, .nav&gt;li&gt;a:hover {
    text-decoration: none;
    background-color: transparent;
}


/*========================*/
@media screen and (max-width:851px) {
.elmal3b_sports_events-event_item, .tab-content .title {width:100% !important;}
.nav-tabs {width: 98%;}

      }

@media screen and (max-width:600px) {
  .elmal3b_sports_events-team_title {
    font-size: 12px;
  }

  .event_chanel {
    display: none;
  }

  .events-info span {
    padding: 0 5px;
    width: 50%;
  }
}

@media screen and (max-width:500px) {

  .new-league-head .title-aria {
    width: 90%;
  }

  .league-title {
    font-size: 12px;
  }

  .elmal3b-live-table {
    padding: 2px;
  }

  .box-title {
    margin: -2px -2px 10px;
  }

  .box-title .title {
    font-size: 14px;
    height: 35px;
    line-height: 37px;
  }

  .event_inner {
    padding: 0 15px;
  }

  .scores-parent {
    padding: 0px 0px;
  }

@media screen and (max-width:400px) {

.nav-tabs&gt;li&gt;a {
    font-size: 12px;
    padding: 7px;
}
.event_inner {
    padding: 0 5px;
  }

  .team-first {
    transform: skew(-10deg);
    border-radius: 5px 0px;
  }

  .team-aria {
    position: relative;
    float: right;
    width: calc(50% - 20px);
    height: 55px;
    padding: 5px;
  }

  .width, .width::after, .width::before {
    height: 25px;
  }

  .width {
    width: 40px;
    margin-top: 15px;
  }

  .team-first .elmal3b-team_logo {
    margin-right: 0;
    transform: skew(10deg);
  }

  .elmal3b-team_logo {
    display: inline-block;
    width: 100%;
    height: 30px;
  }

  .team-first .elmal3b_sports_events-team_title {
    transform: skew(10deg);
  }

  .elmal3b_sports_events-team_title {
    margin-top: 0;
    text-align: center;
    display: block;
    float: right;
    width: 100%;
  }

  .team-second {
    transform: skew(10deg);
  }

  .team-second .elmal3b-team_logo {
    margin-left: 0;
    transform: skew(-10deg);
  }

  .team-second .elmal3b_sports_events-team_title {
    transform: skew(-10deg);
  }

  .elmal3b-team_logo img {
    display: block;
    margin: 0 auto 0px;
    max-height: 30px;
    width: auto;
  }
}
@media screen and (max-width:340px) {
.nav-tabs&gt;li&gt;a {
    font-size: 11px;
}
        }
	
